*{margin: 0;padding: 0;list-style: none;}
body{margin: 0;background-color: #efefef;}
a{text-decoration: none;}
hr{border:transparent solid 1px;border-top: #E8676B 1px solid;margin-bottom: 25px;}
@keyframes line{0%{width: 0%;}100%{width: 100%;}}
@keyframes move{0%{right: 100%;}100%{right: 0%;}}
.icon {width: 1em; height: 1em;vertical-align: -0.15em;fill: currentColor;overflow: hidden;}
@Keyframes bigloading{ 0%{width:0px;height:0px;opacity:1;} 100%{width:50px;height:50px;opacity:0;}}
.cricle{width:100%;height:100vh;position: fixed;top:0px;left:0px; z-index: 99;background-color:#F3F3F3;}
.switch.cricle{display: none;}
.cricle::before{content:'';display:block;width:50px;height:50px;background:#E8676B;
opacity:0.5;border-radius:50%;position:absolute;top:0px;left:0px;bottom:0px;right:0px;
margin:auto;animation:bigloading linear 1.6s infinit}
.cricle::after{content:'';display:block;width:50px;height:50px;background:#E8676B;
border-radius:50%;position:absolute;top:0px;left:0px;bottom:0px;right:0px;margin:auto;
animation:bigloading linear 1.6s infinite;animation-duration:0.8s;}
.clearfix::after{content:'';display: block;clear: both;}
.navbar{position: fixed;width: 100%;color:#BCBDC0;transition: linear 0.3s;z-index: 1;}
.switch.navbar{background: #0a0909bf;color: white;
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);}
.navbar>.logo{position: absolute;top:55%;left:15px; transform: translatey(-50%);}
.navbar>.logo>a{color:#93969b;font-family: 'vani';font-weight:bold;font-size: 20px;}
.navbar>.logo>a>.ch{font-size: 28px;color: #E8676B;margin-right: 6px;}
.navbar>nav{height: 100%;width: 100%;}
.navbar>nav>.bar{padding: 28px 15px;margin-right: 10px;list-style: none;float: right;
transition: linear 0.3s;position: relative;}
.switch.navbar>nav>ul{padding: 22px 15px;margin-right: 5px;}
.navbar>nav>.bar>li{float: left;margin:0px 18px 0px 18px;height:24px;box-sizing: border-box;position: relative;}
.navbar>nav>.bar>.switch::after{content: '';display: block;height: 3px;margin-top:3px; background:#E8676B;
animation: line linear 0.3s; }
.navbar>nav>.bar>.scroll::after{content: '';display: block;height: 3px;margin-top:3px; background:#E8676B;
animation: line linear 0.3s; }
.navbar>nav>.bar>li>a{font-size: 13px;color:inherit;text-decoration:none;font-weight:bold;}
.navbar>nav>.bar>li>ul{background-color: white;position: absolute;top:115%;right:100%;word-break: keep-all;
 box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.55);display: none;}
.navbar>nav>.bar>li>.lv2{display:block;animation: move 0.3s linear forwards;}
.navbar>nav>.bar>li>ul>li>a{display:block;height:16px; padding:10px;color: #3D4451;font-size: 12px;font-family:'vani';
background-color: white;transition: 0.3s; text-align: center;}
.navbar>nav>.bar>li>ul>li>a:hover{background-color: #FAFAFA;color:#E8676B;}
/*背景*/.container>.nominee{position: fixed;top: 160px;left: 93.5%;z-index: 5;}
.container>.bg{background-image: url("./images/wallhaven-742984.jpg");height: 516px;
background-size: cover;background-position: 0px -80px;}
.container>.bg>.shade{background-color: rgba(0, 0, 0, 0.7);height: 100%;}
/*卡片*/.container>main{max-width: 930px;background-color: white;box-shadow: 0px 0.1px 0.1px 0.1px#93969b;
border: #dedede solid 1px;margin: 0px auto;margin-top:-320px;transform: translateY(30px); transition:transform 1s;}
.container>.switch{transform: translateY(0px)}
.container>main>.userCard>.pictureAndText{padding: 57px 50px 15px 50px;}
.container>main>.userCard>.pictureAndText>.picture{float: left;margin-right: 67px;}
.container>main>.userCard>.pictureAndText img{width: 296px;height: 325px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.48);transition: 0.3s;}
.container>main>.userCard>.pictureAndText img:hover{box-shadow: 0 1px 8px rgba(0, 0, 0, 0.4), 0 1px 6px rgba(0, 0, 0, 0.48)}
.container>main>.userCard>.pictureAndText .text{width: 465px;float: left;}
.container>main>.userCard>.pictureAndText .text .sayHello>.hello{display: inline-block;padding: 6px 12px;
font-size:13px;font-weight: bold;color:white;background-color: #E8676B;}
.container>main>.userCard>.pictureAndText .text .sayHello{position: relative;}
.container>main>.userCard>.pictureAndText .text .sayHello>.sj{display:inline-block;border-top:transparent 0px solid;
border-bottom:transparent 8px solid;border-left:#E8676B 8px solid;border-right:transparent 8px solid;position: absolute;
top: 100%;left: 5px;}
.container>main>.userCard>.pictureAndText .text>h1{padding: 25px 0px 5px 0px;}
.container>main>.userCard>.pictureAndText .text>p{color: #93969b;font-size: 15px;font-family: cursive;
margin-top:15px;margin-bottom: 15px;}
.container>main>.userCard>.pictureAndText .text dl>dt{font-weight: bold;font-family: cursive;float: left;
width:70%;margin-bottom: 15px; }
.container>main>.userCard>.pictureAndText .text dl>dd{font-family: cursive;color: #93969b;float: left;width: 30%;}
.container>main>.userCard>.footer{width: 100%;background-color: #E8676B ;text-align: center;}
.container>main>.userCard>.footer>.link{text-align: center;padding:5px 0px;}
.container>main>.userCard>.footer>.link a{border-radius: 50%;background-color: transparent;display: inline-block;
transition:background-color 0.5s linear}
.container>main>.userCard>.footer>.link a:hover{border-radius: 50%;background-color: #dedede;display: inline-block;}
.container>main>.userCard>.footer>.link svg{width:25px;height:25px;fill: white;padding:10px 10px;vertical-align: top;}
.download{text-align: center;margin-top: 30px}
.download> a{display: inline-block;color: #464d59;font-weight: bold;padding:22px 60px;
border: solid 0.5px rgb(203, 205, 207);border-radius: 3px;}
.download> a:hover{ box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
transition-duration: 0.5s;}
.mySelf{text-align: center;margin:75px 0;}
.mySelf>span{font-family: cursive;font-weight: bold;margin:40px 0;}
.skill{margin-top:30px;transform: translateY(30px); transition: transform 1s;}
.skill.switch{transform: translateY(0px);}
.skill> h2,.showreel> h2,.message-out>h2{text-align: center;margin-bottom: 25px;color: #3d4451;}
.skill>ul{width: 930px;height: 245px;color: #3d4451;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
background-color:white;margin: 0 auto;margin-bottom: 75px;}
.skill>ul>li{width: 45%;float: left;margin-top:40px;}
.skill>ul>li:nth-child(even){float: right;}
.skill>ul>li:nth-child(odd){margin-left:40px; }
.skill>ul>li>div{height: 5px;width: 90%;background-color:#FAE1E1;border-radius: 2px;}
.skill>ul>li>div::after{content:'';display: block;background-color:#E8676B;float: left;width: 0%;height: 5px; transition: all 2s;}
.skill>ul>.progress>.HTML::after{content:'';display: block;background-color:#E8676B;float: left;width: 75%;height: 5px;}
.skill>ul>.progress>.CSS::after{content:'';display: block;background-color: #E8676B;float: left;width: 73%;height: 5px;}
.skill>ul>.progress>.JavaScript::after{content:'';display: block;background-color: #E8676B;float: left;width: 76%;height: 5px;}
.skill>ul>.progress>.Vue::after{content:'';display: block;background-color: #E8676B;float: left;width: 72%;height: 5px;}
.skill>ul>.progress>.JQuery::after{content:'';display: block;background-color: #E8676B;float: left;width: 80%;height: 5px;}
.skill>ul>.progress>.HTTP::after{content:'';display: block;background-color: #E8676B;float: left;width: 70%;height: 5px;}
.showreel{margin-bottom:75px;text-align: center;transform: translateY(30px); transition: transform 1s;}
.showreel.switch{transform: translateY(0px)}
.swiper-container {width: 930px;height: 510px; transition: 0.5s; }
.showreel:hover .swiper-container{box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.48);}
.swiper-button-prev.prev,.swiper-button-next.next{width: 30px;height: 60px;transition: 0.5s;}
.swiper-button-prev.prev:hover{width: 30px;height: 70px;margin-top:-25px; background-color: rgba(8, 8, 8, 0.25);}
.swiper-button-next.next:hover{width: 30px;height: 70px;margin-top:-25px; background-color: rgba(8, 8, 8, 0.25);}
.message-out{transform: translateY(30px); transition: transform 1s;}
.message-out.switch{transform: translateY(0px)}
.message-out>h2{margin-bottom: 80px;}
.message-out>.displayArer{box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.48);
position: relative; width:930px;background-color:#e8676b;min-height: 100px; margin:0px auto;margin-bottom: 1000px;}
.message-out>.displayArer>li{padding:18px;border-top: #13121269 1px solid;color: #3d4451;font-family: cursive;font-weight: bold;}
.message-out>.displayArer>li:nth-child(2){border:none;}
.message-out>.displayArer>li:first-child{width:inherit; border-bottom: none;text-align: center;color: #e9e9e994;position: absolute;top:-56px;padding:14px 0px;
font-family: cursive;background-color: #2f2d34eb;box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(0, 0, 0, 0.48);}
.message-out>.displayArer>li:first-child input{transition: 0.5s; color:#e9e9e994; border-radius:10px;outline: none;padding:5px 0px;border:1px #23212b solid;background-color: #0808087d;}
.message-out>.displayArer>li:first-child .username:hover{border:1px white solid;}
.message-out>.displayArer>li:first-child .import:hover{border:1px white solid;}
.message-out>.displayArer>li:first-child button{position: absolute;left: 700px; top: 50%;margin-top: -10px; border-radius: 50%;
border:none;outline: none;background-color: transparent;}
.message-out>.displayArer>li:first-child button svg{width: 20px; height: 20px;fill: white; vertical-align: middle;transition: 0.5s }
.message-out>.displayArer>li:first-child button:hover svg{fill: #e8676b;cursor: pointer;}